
/*annullamento di tutte le preimpostazioni dei motiori di ricerca */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
    background-image: url("img/limoniwallapaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*stile generale del form*/
.card {

    width: 80%;
    max-width: 350px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(20, 0, 31, 0.521);
    padding: 30px;
  }

  h2 {
    text-align: center;
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 20px;
   
  }

.form-input{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background: rgb(228, 228, 228);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.029);
}

.form-input:selected{
  border: none;
  background: none;
}

.btn {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid rgb(34, 34, 34);
  }

.btn:hover {
  transform: scale(110%);
  color: white;
  background-color:  rgb(34, 34, 34);
}

.form-check{
  margin-top: 15px;
}

/*  ccs della richiesta in fondo al form */
.accountrichiesta{
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  color: rgb(82, 82, 82);
}

.accedi{
  font-family: 'Work Sans', sans-serif;
  color: rgb(34, 34, 34);

}

.accedi:hover {
  transform: scale(110%);
}



 